/* Custom properties */
:root {
    --primary: #9c27b0;
    --primaryDark: #89119d;
    --secondary: #ffce00;
    --secondaryDark: rgb(233, 287, 2);
    --white: #ffffff;
    --black: #000000;
    --mainFont: "Staatliches", sans-serif;
}
